<%= form_with(model: [@post, @post.comments.build]) do |f| %>
  <div>
    <%= f.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>
  <div class="row">
    <div class="col-8">
      <%= f.text_area :body, class: "form-control form-control-sm" %>
    </div>
    <div class="col-4">
      <%= f.submit 'Add a comment',class: "btn btn-primary btn-sm"%>
    </div>
  </div>
<% end %>