<h1>Editing topic</h1>
<%= render "form", topic: @topic %>

<div>
  <%= link_to "Show this topic", @topic, class: "btn btn-info" %> |
  <%= link_to "Back to topics", topics_path, class: "btn btn-outline-info" %>
</div>
