/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    font-family: Sans-Serif;
    background: #c2c1c1;
}
.topics li{
    list-style-type: none;
    margin: 10px;
}
.topics li:before{
    content: '✔';
	color:blue;
	font-weight: bold;
}
.topics li  a.topicA{
    text-decoration: none;
    color: #2E2F30;
    font-size: 20px;
}
.topics li:hover a.topicA{
    color: deepskyblue;
}
.new-btn{
    background: green;
    border-radius: 5px;
    text-decoration: none;
    color: #2E2F30;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}
.save-btn{
    outline: none;
    border: none;
    background: green;
    color: #2E2F30;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.back-btn{
    outline: none;
    border: 2px solid green;
    background: transparent;
    color: #2E2F30;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}

.show-btn{
    background: #4f929b;
    color: #2E2F30;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.del-btn{
    color: #2E2F30;
    background: #d23737;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.del-btn:hover,.back-btn:hover,.new-btn:hover,.show-btn:hover{
    background: #70b0f6;
}
.com{
    outline: none;
    border: none;
    color: #2E2F30;
    font-weight: bold;
    background: #1b8fff;
    padding: 6px;
    border-radius: 3px;
}
select option[selected="selected"]{
    color: #1b8fff;
    font-weight: bold;
}

.navig{
    background: #4f929b;
    padding: 15px;
}
.navig a{
    text-decoration: none;
    background: transparent;
    color: #F7F7F7;
}

.profile-tab th{
    text-align: right;
}
.profile-tab th,td{
    padding: 5px;
}